@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background-color: #e0e0c0;
}

.mask-image-custom {
  position: absolute;
  mask-image: url('../public/mask.svg');
  -webkit-mask-image: url('../public/mask.svg');
  mask-repeat: no-repeat;
  mask-position: 50%;
  mask-size: 50px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
